
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <% const year = new Date().getFullYear() %>
    <p>Made with ❤️ by Riya Kumari &#169; <%=year%></p>
  </div>
</div>
</body>
</html>
